header {
    background-color: #35A29F;
    color: #0C356A;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

input section {
    display: inline;
    flex-direction: row;

}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 30px;
}

input {
    padding: 15px;
    border: #0C356A 5px;
    border-radius: 5px;
    outline: azure;
}

input:focus {
    border-color: aquamarine;
}

button {
    padding: 15px 25px;
    font-size: 20px;
    font-weight: initial;
    text-align: center;
    border-radius: 5px;
    background-color:deepskyblue;
    color: honeydew;
    border: none;
    cursor: pointer;
}

#input-button {
        display: flex;
        align-self: column;
}

button:hover {
    background-color: azure;
}

button:active {
    background-color: black;
    transform: translateY(1px);
}

main {
    align-self: center;
}